:root {
  --primary: rgb(32, 32, 32);
  --secondary: rgb(240, 240, 240);
  --tertiary: rgb(65, 161, 0);
  --fourth: rgb(109, 249, 16);
  font-family: "Poppins", sans-serif;
}
.day {
  color: var(--secondary);
  background-color: var(--primary);
  transition: all 0.2s ease-in-out;
}
.nigh {
  background-color: var(--secondary);
  color: var(--primary);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.active {
  text-decoration: underline;
  color: var(--tertiary);
}
